

/*Form*/
.formPartial{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-control{
    margin-bottom: 1rem;
    width: 20rem;
}

/*Table*/
.noProdsMessage{
    margin: 1rem;
}
.imgProd{
    width: 4rem;
}
#tableContainer{
    width: 80%;
    margin: auto;
}

/* Centro de Mensajes */
.mensajesTitulo{
    color: blue;
    text-align: center;
    margin-top: 1rem;
}
.mensajesTitulo input{
    margin-top: 1rem;
}
.mail{
    color: blue;
    font-weight: bold;
}
.fecha{
    color: brown;
}
.msj{
    font-style: italic;
    color: green;
}

